rf/.ipynb_checkpoints/**
jn/.ipynb_checkpoints/**
ga/.ipynb_checkpoints/**

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Data folders
Brexit_datas/**
Data/**

# Data files
*.json
*.bz2
*.csv
*.parquet
